:root {
  --ion-safe-area-top: 20px;
  /* --ion-safe-area-bottom: 22px; */
}

.button_grid {
  width: 100px;
  height: 100px;
  margin: 30px;
  --border-radius: 30px;
  font-size: 26px;
}

/* .button_grid:last-child {
  font-size: 25px;
} */

.title_page_not_found {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

ion-select {
  width: 140px;
}

.select_popover {
  --width: 150px;
}

.no_scroll {
  --overflow: hidden;
}

.button_scan {
  width: 80px;
  height: 50px;
  margin: 0 8px;
}


